.home-intro {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-intro h1,
.home-intro h2,
.home-intro p {
    font-size: 0.9em;
}

.home-intro h1 {
    font-weight: 300;
    text-align: center;
    margin-bottom: 0.8em;
}

.home-intro h2 {
    text-decoration: underline;
    font-weight: 300;
    margin-bottom: 4em;
    margin-top: 10vh;
}